@font-face { 
  font-family: "FuturaPT-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../font/FuturaPT-Light.eot");
  src: url("../font/FuturaPT-Light.eot?#iefix")format("embedded-opentype"),
        url("../font/FuturaPT-Light.woff") format("woff"),
        url("../font/FuturaPT-Light.ttf") format("truetype");
}

@font-face { 
  font-family: "FuturaPT-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../font/FuturaPT-Bold.eot");
  src: url("../font/FuturaPT-Bold.eot?#iefix")format("embedded-opentype"),
        url("../font/FuturaPT-Bold.woff") format("woff"),
        url("../font/FuturaPT-Bold.ttf") format("truetype");
}